{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block hwi_oauth_content %}
    <div class="container" id="registration_success">
        <div class="col-md-offset-3 col-md-6" id="success_box">
            <div class="col-md-offset-1 col-md-10" id="success_title">
                <h3>Confirmation</h3>
            </div>
            <div class="login-inner" id="success_content">
                <div class="login-top">
                    <p>{{ 'header.registration_success' | trans({'%username%': app.user.username}, 'HWIOAuthBundle') }}</p>
                    <p><a href="{{ path('ma_user_accueil') }}"><span class="glyphicon glyphicon-chevron-left"></span>Retour vers l'accueil</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock hwi_oauth_content %}
