<div class="search-box">
<ul>
    <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-log-in"></span> S'inscrire</a></li>
    <li><a href="{{ path('hwi_oauth_connect') }}"><span class="glyphicon glyphicon-user"></span> Se connecter</a></li>
</ul>
</div>