<div class="modal ab fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog sign" role="document">
        <div class="modal-content about">
            <div class="modal-header one">
                <button type="button" class="close sg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="discount one">
                    <h3>Inscription</h3>
                </div>
            </div>
            <div class="modal-body about">
                <div class="login-top sign-top one">
                    <form action="#" method="post">
                        <input type="text" name="name" class="name active" placeholder="Your Name" required="">
                        <input type="text" name="email "class="email" placeholder="Email" required="">
                        <input type="password" name="password" class="password" placeholder="Password" required="">
                        <input type="checkbox" id="brand1" value="">
                        <label for="brand1"><span></span> Remember me?</label>
                        <div class="login-bottom one">
                            <ul>
                                <li>
                                    <a href="#">Forgot password?</a>
                                </li>
                                <li>
                                    <input type="submit" name="inscription" value="SIGN UP">
                                </li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <div class="social-icons">
                <ul>
                    <li><a href="{{ asset('//localhost/meslunettes.com/web/app_dev.php/connect/facebook') }}"><span class="icons"></span><span class="text">Facebook</span></a></li>
                    <li class="ggp"><a href="{{ asset('//localhost/meslunettes.com/web/app_dev.php/connect/google') }}"><span class="icons"></span><span class="text">Google+</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
