<div class="updates-agile">
    <div class="container">
        <h3 class="tittle">ECHANGEZ! VENDEZ! EN QUELQUES CLICS...</h3>
        <div class="inner_tabs">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <div class="nav nav-tabs" role="tablist"></div>
                <div class="col-md-12" id="presentation">
                    Inscrivez vous gratuitement et échangez ou vendez vos lunettes de soleil!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>