<div class="header-left">
    <!-- /sidebar -->
    {% include 'sidebar.html.twig' %}
    <!-- //sidebar -->
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="tag" id="statut"><p>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</p></div>
    {% endif %}
</div>
